<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.seasonteam.season.mapper.CheckbookhdMapper" >
  <resultMap id="BaseResultMap" type="org.seasonteam.season.model.Checkbookhd" >
    <id column="HD_ID" property="hdId" jdbcType="VARCHAR" />
    <result column="USERID" property="userid" jdbcType="VARCHAR" />
    <result column="HD_NAME" property="hdName" jdbcType="VARCHAR" />
    <result column="HD_COMPANY" property="hdCompany" jdbcType="VARCHAR" />
    <result column="HD_TYPE" property="hdType" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="HD_MONEY" property="hdMoney" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    HD_ID, USERID, HD_NAME, HD_COMPANY, HD_TYPE, CREATE_TIME, HD_MONEY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.seasonteam.season.model.CheckbookhdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkbookhd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from checkbookhd
    where HD_ID = #{hdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from checkbookhd
    where HD_ID = #{hdId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.seasonteam.season.model.CheckbookhdExample" >
    delete from checkbookhd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.seasonteam.season.model.Checkbookhd" >
    insert into checkbookhd (HD_ID, USERID, HD_NAME, 
      HD_COMPANY, HD_TYPE, CREATE_TIME, 
      HD_MONEY)
    values (#{hdId,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{hdName,jdbcType=VARCHAR}, 
      #{hdCompany,jdbcType=VARCHAR}, #{hdType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{hdMoney,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="org.seasonteam.season.model.Checkbookhd" >
    insert into checkbookhd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hdId != null" >
        HD_ID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="hdName != null" >
        HD_NAME,
      </if>
      <if test="hdCompany != null" >
        HD_COMPANY,
      </if>
      <if test="hdType != null" >
        HD_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="hdMoney != null" >
        HD_MONEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hdId != null" >
        #{hdId,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="hdName != null" >
        #{hdName,jdbcType=VARCHAR},
      </if>
      <if test="hdCompany != null" >
        #{hdCompany,jdbcType=VARCHAR},
      </if>
      <if test="hdType != null" >
        #{hdType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hdMoney != null" >
        #{hdMoney,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.seasonteam.season.model.CheckbookhdExample" resultType="java.lang.Integer" >
    select count(*) from checkbookhd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update checkbookhd
    <set >
      <if test="record.hdId != null" >
        HD_ID = #{record.hdId,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.hdName != null" >
        HD_NAME = #{record.hdName,jdbcType=VARCHAR},
      </if>
      <if test="record.hdCompany != null" >
        HD_COMPANY = #{record.hdCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.hdType != null" >
        HD_TYPE = #{record.hdType,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hdMoney != null" >
        HD_MONEY = #{record.hdMoney,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update checkbookhd
    set HD_ID = #{record.hdId,jdbcType=VARCHAR},
      USERID = #{record.userid,jdbcType=VARCHAR},
      HD_NAME = #{record.hdName,jdbcType=VARCHAR},
      HD_COMPANY = #{record.hdCompany,jdbcType=VARCHAR},
      HD_TYPE = #{record.hdType,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      HD_MONEY = #{record.hdMoney,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.seasonteam.season.model.Checkbookhd" >
    update checkbookhd
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="hdName != null" >
        HD_NAME = #{hdName,jdbcType=VARCHAR},
      </if>
      <if test="hdCompany != null" >
        HD_COMPANY = #{hdCompany,jdbcType=VARCHAR},
      </if>
      <if test="hdType != null" >
        HD_TYPE = #{hdType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hdMoney != null" >
        HD_MONEY = #{hdMoney,jdbcType=DOUBLE},
      </if>
    </set>
    where HD_ID = #{hdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.seasonteam.season.model.Checkbookhd" >
    update checkbookhd
    set USERID = #{userid,jdbcType=VARCHAR},
      HD_NAME = #{hdName,jdbcType=VARCHAR},
      HD_COMPANY = #{hdCompany,jdbcType=VARCHAR},
      HD_TYPE = #{hdType,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      HD_MONEY = #{hdMoney,jdbcType=DOUBLE}
    where HD_ID = #{hdId,jdbcType=VARCHAR}
  </update>
</mapper>