<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.seasonteam.season.mapper.SpendIncomeMapper" >
  <resultMap id="BaseResultMap" type="org.seasonteam.season.model.SpendIncome" >
    <id column="SI_ID" property="siId" jdbcType="VARCHAR" />
    <result column="HD_ID" property="hdId" jdbcType="VARCHAR" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR" />
    <result column="SI_DES" property="siDes" jdbcType="VARCHAR" />
    <result column="SI_TYPE" property="siType" jdbcType="VARCHAR" />
    <result column="SI_MONEY" property="siMoney" jdbcType="DOUBLE" />
    <result column="SI_DATE" property="siDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SI_ID, HD_ID, ACCOUNT_ID, SI_DES, SI_TYPE, SI_MONEY, SI_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.seasonteam.season.model.SpendIncomeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from spend_income
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from spend_income
    where SI_ID = #{siId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from spend_income
    where SI_ID = #{siId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.seasonteam.season.model.SpendIncomeExample" >
    delete from spend_income
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.seasonteam.season.model.SpendIncome" >
    insert into spend_income (SI_ID, HD_ID, ACCOUNT_ID, 
      SI_DES, SI_TYPE, SI_MONEY, 
      SI_DATE)
    values (#{siId,jdbcType=VARCHAR}, #{hdId,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{siDes,jdbcType=VARCHAR}, #{siType,jdbcType=VARCHAR}, #{siMoney,jdbcType=DOUBLE}, 
      #{siDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.seasonteam.season.model.SpendIncome" >
    insert into spend_income
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="siId != null" >
        SI_ID,
      </if>
      <if test="hdId != null" >
        HD_ID,
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID,
      </if>
      <if test="siDes != null" >
        SI_DES,
      </if>
      <if test="siType != null" >
        SI_TYPE,
      </if>
      <if test="siMoney != null" >
        SI_MONEY,
      </if>
      <if test="siDate != null" >
        SI_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="siId != null" >
        #{siId,jdbcType=VARCHAR},
      </if>
      <if test="hdId != null" >
        #{hdId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="siDes != null" >
        #{siDes,jdbcType=VARCHAR},
      </if>
      <if test="siType != null" >
        #{siType,jdbcType=VARCHAR},
      </if>
      <if test="siMoney != null" >
        #{siMoney,jdbcType=DOUBLE},
      </if>
      <if test="siDate != null" >
        #{siDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.seasonteam.season.model.SpendIncomeExample" resultType="java.lang.Integer" >
    select count(*) from spend_income
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update spend_income
    <set >
      <if test="record.siId != null" >
        SI_ID = #{record.siId,jdbcType=VARCHAR},
      </if>
      <if test="record.hdId != null" >
        HD_ID = #{record.hdId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null" >
        ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.siDes != null" >
        SI_DES = #{record.siDes,jdbcType=VARCHAR},
      </if>
      <if test="record.siType != null" >
        SI_TYPE = #{record.siType,jdbcType=VARCHAR},
      </if>
      <if test="record.siMoney != null" >
        SI_MONEY = #{record.siMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.siDate != null" >
        SI_DATE = #{record.siDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update spend_income
    set SI_ID = #{record.siId,jdbcType=VARCHAR},
      HD_ID = #{record.hdId,jdbcType=VARCHAR},
      ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      SI_DES = #{record.siDes,jdbcType=VARCHAR},
      SI_TYPE = #{record.siType,jdbcType=VARCHAR},
      SI_MONEY = #{record.siMoney,jdbcType=DOUBLE},
      SI_DATE = #{record.siDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.seasonteam.season.model.SpendIncome" >
    update spend_income
    <set >
      <if test="hdId != null" >
        HD_ID = #{hdId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="siDes != null" >
        SI_DES = #{siDes,jdbcType=VARCHAR},
      </if>
      <if test="siType != null" >
        SI_TYPE = #{siType,jdbcType=VARCHAR},
      </if>
      <if test="siMoney != null" >
        SI_MONEY = #{siMoney,jdbcType=DOUBLE},
      </if>
      <if test="siDate != null" >
        SI_DATE = #{siDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SI_ID = #{siId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.seasonteam.season.model.SpendIncome" >
    update spend_income
    set HD_ID = #{hdId,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      SI_DES = #{siDes,jdbcType=VARCHAR},
      SI_TYPE = #{siType,jdbcType=VARCHAR},
      SI_MONEY = #{siMoney,jdbcType=DOUBLE},
      SI_DATE = #{siDate,jdbcType=TIMESTAMP}
    where SI_ID = #{siId,jdbcType=VARCHAR}
  </update>
</mapper>